<h1 class="text-center">My blog has <%= @articles.length %> articles</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% @articles.each do |a| %>
      <%= link_to article_path(a) do %>
        <h2><%= a.title %></h2>
      <% end %>
      <p><%= a.created_at.strftime("Written on %m/%d/%Y") %> </p>
      <p><%= a.content %></p>

    <% end %>

    </div>
  </div>
</div>
